@inherits LayoutComponentBase

<header>Todo/Reward ✔</header>

<main>
    @Body
</main>

<nav>
    <NavLink href="/todos">Todos</NavLink>
    <div>@TotalPoints</div>
    <NavLink href="/rewards">Rewards</NavLink>
</nav>

@code {
    private int TotalPoints = 1232;
}
