.card {
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
    word-break: break-word;
    margin: 1rem;
    backdrop-filter: blur(2px);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.info {
    display: flex;
    justify-content: space-between;
}