<div class="card">
    <div class="header">
        @if (Editing)
        {
            <input @bind="Todo.Description" />
            <div class="buttons">
                <button class="success-button" @onclick="ToggleEdit">Save</button>
                <button class="danger-button" @onclick="DeleteTodoParent">Delete</button>
            </div>
        }
        else
        {
            <p>@Todo.Description</p>
            <div class="buttons">
                <button class="primary-button" @onclick="ToggleEdit">Edit</button>
                <button class="success-button" @onclick="HandleDone">Done</button>
            </div>
        }
    </div>
    <div class="info">
        @if (Editing)
        {
            <div>📅 <input class="info-input" @bind="Todo.TimeLeft" /> days</div>
            <div>🔁 <input class="info-input" @bind="Todo.RepeatInterval" /> days</div>
            <div>⭐ <input class="info-input" @bind="Todo.Points" /> points</div>
        }
        else
        {
            <div>📅 @Todo.TimeLeft days</div>
            <div>🔁 @Todo.RepeatInterval days</div>
            <div>⭐ @Todo.Points points</div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Todo Todo { get; set; }
    [Parameter]
    public Action DeleteTodoParent { get; set; }
    private bool Editing { get; set; }

    private void ToggleEdit() => Editing = !Editing;

    protected override void OnInitialized()
    {
        if (Todo.Description == null)
        {
            Editing = true;
        }
    }

    private void HandleDone()
    {
        if (Todo.RepeatInterval > 0)
        {
            Todo.TimeLeft = Todo.RepeatInterval;
        }
        else
        {
            DeleteTodoParent();
        }
    }
}
