<div class="card">
    <div class="header">
        @if (Editing)
        {
            <input @bind="Todo.Description" />
        }
        else
        {
            <p>@Todo.Description</p>
        }
        <div class="buttons">
            <button @onclick="ToggleEdit">Edit</button>
            <button>Done</button>
        </div>
    </div>
    <div class="info">
        @if (Editing)
        {
            <div>📅 <input class="info-input" @bind="Todo.TimeLeft" /> days</div>
            <div>🔁 <input class="info-input" @bind="Todo.RepeatInterval" /> days</div>
            <div>⭐ <input class="info-input" @bind="Todo.Points" /> points</div>
        }
        else
        {
            <div>📅 @Todo.TimeLeft days</div>
            <div>🔁 @Todo.RepeatInterval days</div>
            <div>⭐ @Todo.Points points</div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Todo Todo { get; set; }

    [Parameter]
    public bool Editing { get; set; }

        private void ToggleEdit() => Editing = !Editing;
    }
