@page "/rewards"

@foreach (var reward in rewards)
{
    <RewardCard Reward="@reward" DeleteRewardParent="() => DeleteReward(reward.Id)" />
}

<br />
<button class="primary-button" @onclick="AddReward">Add reward</button>

@code {
    private List<Reward> rewards = new List<Reward>
{
        new Reward
        {
            Id = 1,
            Description = "1h gaming",
            Points = -10
        },
        new Reward
        {
            Id = 2,
            Description = "Æt nått gott",
            Points = -100
        },
        new Reward
        {
            Id = 3,
            Description = "Fylla",
            Points = -10
        },
        new Reward
        {
            Id = 4,
            Description = "Drønare",
            Points = -1000
        }
    };

    private void AddReward()
    {
        var newReward = new Reward();
        rewards.Add(newReward);
    }

    private void DeleteReward(int Id)
    {
        rewards.RemoveAll(r => r.Id == Id);
        this.StateHasChanged();
    }
}
