@page "/rewards"
@inject IRewardRepository RewardRepository

@foreach (var reward in rewards)
{
    <RewardCard Reward="@reward" DeleteRewardParent="() => DeleteReward(reward.Id)" />
}

<br />
<button class="primary-button" @onclick="AddReward">Add reward</button>

@code {
    private List<Reward> rewards;

    protected override Task OnInitializedAsync()
    {
        rewards = RewardRepository.GetRewards();
        return base.OnInitializedAsync();
    }

    private void AddReward()
    {
        var newReward = new Reward();
        RewardRepository.AddReward(newReward);
        rewards.Add(newReward);
    }

    private void DeleteReward(int Id)
    {
        rewards.RemoveAll(r => r.Id == Id);
        RewardRepository.DeleteReward(Id);
        this.StateHasChanged();
    }
}
