@page "/todos"

<h3>Todos</h3>

@foreach (var todo in todos)
{
    <TodoCard Todo=@todo />
}

<input @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private IList<Todo> todos = new List<Todo>();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new Todo { Description = newTodo });
            newTodo = string.Empty;
        }
    }
}
