@page "/todos"

@foreach (var todo in todos)
{
    <TodoCard Todo=@todo Editing="false" />
}

<input @bind="newTodo" />
<br />
<button class="primary-button" @onclick="AddTodo">Add todo</button>

@code {
    private IList<Todo> todos = new List<Todo>();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new Todo { Description = newTodo });
            newTodo = string.Empty;
        }
    }
}
