@page "/todos"
@inject ITodoRepository TodoRepository

@foreach (var todo in todos)
{
    <TodoCard Todo="@todo"
              DeleteTodo="() => DeleteTodo(todo.Id)"
              OrderTodos="() => OrderTodos()" />
}

<br />
<button class="primary-button" @onclick="AddTodo">Add todo</button>

@code {
    [Parameter]
    public Guid userId { get; set; }
    private List<Todo> todos;

    protected override Task OnInitializedAsync()
    {
        todos = TodoRepository.GetTodos(userId);
        OrderTodos();
        return base.OnInitializedAsync();
    }

    private void AddTodo()
    {
        var newTodo = new Todo();
        TodoRepository.AddTodo(newTodo, userId);
        todos.Add(newTodo);
    }

    private void DeleteTodo(Guid todoId)
    {
        todos.RemoveAll(t => t.Id == todoId);
        TodoRepository.DeleteTodo(todoId, userId);
        OrderTodos();
    }

    private void OrderTodos()
    {
        todos = todos.OrderBy(t => t.TimeLeft).ToList();
        this.StateHasChanged();
    }
}
