@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
}

body {
    background: url("../images/background.jpg") no-repeat center center/cover fixed;
    font-family: Roboto, sans-serif;
    color: white;
}

button {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: max-content;
}

.primary-button {
    background: #196fb3;
}

.primary-button:hover {
    background: #2187d8;
}

.success-button {
    background: #328e3d;
}

.success-button:hover {
    background: #39a947;
}

.danger-button {
    background: #a02e2e;
}

.danger-button:hover {
    background: #d43c3c;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
